* {
    font-family: "Oleo Script", cursive;
}

header {
    background: url(Mainbackground.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 500px;
    }
}

a {
    font-size: 1rem;
    margin: 1rem;
}


/* image of beermug */

.citylink {
    background-image: url(BeerMug.png);
    position: left;
    padding-left: 35px;
    background-size: 50px;
    background-repeat: no-repeat;
    color: rgb(222, 189, 2);
}

#link1,
#link2,
#link3,
#link4,
#link5 {
    font-size: 30px;
}

a:hover {
    color: #2c90fa;
}


/* Columns of breweries and favorites-transparent  */

#breweries,
#favorites {
    background: transparent;
    color: grgb(222, 189, 2);
}


/* List of items on both columns-breweries & favorites */

.collection .collection-item.list {
    background: transparent;
    color: rgb(222, 189, 2);
}

li a {
    font-size: 20px;
    color: rgb(222, 189, 2);
}

li {
    font-size: 20px;
}

.validate {
    color: rgb(222, 189, 2);
}

#map {
    color: rgb(222, 189, 2);
}

#city-type li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display: inline;
    /* this fix is needed for IE7- */
}

#home,
#about-link,
#slogan,
#logo-home,
#favorites,
#breweries,
#location-info,
#para-info {
    color: rgb(222, 189, 2);
}

#favorites-switch {
    color: rgb(222, 189, 2);
    display: none;
}


/*About page styles */

#about {
    background: url(About.2.png);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

#logo {
    color: rgb(222, 189, 2);
    position: absolute;
    left: 0;
    right: 0;
}

h3 #san-diego {
    flex: auto;
    justify-content: center;
    margin: auto;
    width: 50%;
    font-size: 42px;
    color: rgb(222, 189, 2);
}

#about-app {
    color: rgb(222, 189, 2);
}


/* grgmap.js styles*/

#map {
    width: 500px;
    height: 525px;
    justify-content: center;
    margin-top: 25px;
    margin-left: 200px;
}

.card-title {
    color: rgb(222, 189, 2);
    justify-content: center;
    width: 500px
}

#name-info,
#address1-info,
#address2-info,
#phone-info {
    color: rgb(222, 189, 2);
}

#infoCard {
    margin-left: 620px;
}

.center-brand-logo {
    font-size: 30px;
    padding-left: 700px;
}

#clearLabel {
    color: rgb(222, 189, 2);
    font-size: 1rem;
    padding-right: 2rem;
}

#clearBtn {
    height: 15px;
    width: 20px;
    border-radius: 24px;
    padding-right: 35px;
}

img {
    display: inline-block;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

.image-card {
    display: inline-block;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 12px;
    color: rgb(222, 189, 2);
}